/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--background-color);
    font-family: "Titillium Web", sans-serif;
    overflow: hidden;
}



.container_local {
    /* background-color: pink; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    gap: 10px;
    border-radius: 10px;
    padding: 30px;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    background-color: var(--cinza-escuro);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.header_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.header_image img {
    height: 100%;   
    display: block; 
}

.header_text {
    display: flex;
    flex-direction: column;
    color: var(--verde-pii);
    line-height: 1.2;
    justify-content: center;
}

.header_text_title {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
}



.container_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 55% auto;
    gap: 20px;
}


.content_index {
    display: grid;
    grid-template-rows: 8% 80% auto;
    height: 100%;
    min-height: 0;
}





.box_index_tabs {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 10px;
   align-items: flex-start;
}



.box_index_tab {
    border-radius: 10px;
    padding: 10px 10px;
}

.box_index_tab:hover {
    cursor: pointer;
    background-color: var(--verde-pii-claro);
    /* color: white; */
}

.box_index_tab.active {
    background-color: var(--verde-pii-escuro);
    color: white;
}

.box_index_content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    min-height: 0;
    padding: 0 5px 0 0;
}




.cardAccount {
    background-color: #d4d4d4a8;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    transition: transform 0.2s ease;
}

.cardAccount:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: #8caaa456;
}

.cardAccount__description {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 35% 35% auto;
    gap: 5px;
}

.cardAccount__description_part {
    display: flex;
    flex-direction: column;
}

.cardAccount__description_part.balance {
    justify-content: flex-end;
    text-align: right;
}

.cardAccount__balance {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.cardAccount__balance_value {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: right;
    color: black;
}

.cardAccount__summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardAccount__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.cardAccount__subtitle {
    text-align: right;

}


.box_index_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px 0 0;
}

.btn-new {
    background-color: var(--verde-pii-escuro);
    color: white
}

.btn-new:hover {
    background-color: var(--verde-pii);
    color: white;
}


.detail {
    display: grid;
    grid-template-rows: 7vh auto;
    border-radius: 10px;
    background-color: #8caaa456;
    padding: 20px;
    gap: 10px;
}

.detail_header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.detail_header_title {
    font-family: "Titillium Web", sans-serif;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}




/* Para navegadores baseados em WebKit */
.box_index_content::-webkit-scrollbar {
    width: 0px; /* largura da barra */
}

.box_index_content::-webkit-scrollbar-track {
    background: transparent; /* fundo da barra */
}

.box_index_content::-webkit-scrollbar-thumb {
    background-color: #48599161;    /* cor da barra de rolagem */
    border-radius: 10px;       /* borda arredondada */
    border: 2px solid transparent; /* cria espaçamento interno */
    background-clip: content-box;
}

.box_index_content::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* cor ao passar o mouse */
}
